<div class="container">
    <div class="header">
            <img class="luu" src="/Luushoes.PNG">
            <h1>Luu Shoes</h1>
    </div>
    <div class="filter">
        <h4>Filters</h4>
            <form action="/shoes/brand/:brandname" method="post">
                <select class="brand" name="brand" >
                    <option>Select Brand</option>
                    <option value="">All</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Nike">Nike</option>
                    <option value="Puma">Puma</option>    
                </select>
                <button type="submit">By Brand</button>
            </form>
            <form action="/shoes/size/:size" method="post">
                <select class="size" name="size">
                    <option>Select Size</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button type="submit">By Size</button>
            </form>
            <form action="/api/shoes/color/:color" method="post">
                <select class="color" name="color">
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Grey">Grey</option>
                    <option value="Brown">Brown</option>
                    <option value="Green">Green</option>
                    <option value="Purple">Purple</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                </select>
                <button type="submit">By Color</button>
            </form>
             
        
    </div>
    <h3>Whether you're hitting the streets, the gym, or simply strolling around, sneakers are your trusty companions that blend fashion with functionality. So, lace up your favorite pair and step into a world of both comfort and confidence.</h3>
    <div class="items">
        {{#each shoes.displayShoes}}
            <div class="item">
                 <img class="lu" src={{this.image_url}}><br>
                 <span>{{this.shoename}}</span><br>
                 <span>{{this.brand}}</span><br>
                 <span>R {{this.price}}</span><br>
                 <br>
                 <button>Add cart</button>
            </div>
        {{/each}}
        {{#each brands.displayShoesByBrand}}
            <div class="item">
                 <img class="lu" src={{this.image_url}}><br>
                 <span>{{this.shoename}}</span><br>
                 <span>{{this.brand}}</span><br>
                 <span>R {{this.price}}</span><br>
                 <br>
                 <button>Add cart</button>
            </div>
        {{/each}}
        {{#each sizes.displayShoesBySize}}
            <div class="item">
                 <img class="lu" src={{this.image_url}}><br>
                 <span>{{this.shoename}}</span><br>
                 <span>{{this.brand}}</span><br>
                 <span>R {{this.price}}</span><br>
                 <br>
                 <button>Add cart</button>
            </div>
        {{/each}}
        {{#each filtered.displayShoesByBrandAndSize}}
            <div class="item">
                 <img class="lu" src={{this.image_url}}><br>
                 <span>{{this.shoename}}</span><br>
                 <span>{{this.brand}}</span><br>
                 <span>R {{this.price}}</span><br>
                 <br>
                 <button>Add cart</button>
            </div>
        {{/each}}
        {{#each color.displayShoesByColor}}
            <div class="item">
                 <img class="lu" src={{this.image_url}}><br>
                 <span>{{this.shoename}}</span><br>
                 <span>{{this.brand}}</span><br>
                 <span>R {{this.price}}</span><br>
                 <br>
                 <button>Add cart</button>
            </div>
        {{/each}}
        
    </div>
</div>