<div class="container">
    <div class="header">
        <img class="luu" src="/Luushoes.PNG">
        <a style="text-decoration:none" href="/">
            <h1>Luu Shoes</h1>
        </a>
        {{!-- <><h3 class="username-logged-in">Welcome {{userName}}</h3></span> --}}
    </div>
    <h3>Whether you're hitting the streets, the gym, or simply strolling around, sneakers are your trusty companions
        that blend fashion with functionality. So, lace up your favorite pair and step into a world of both comfort and
        confidence.</h3>
    <div class="gender">
        <div class="female-sneakers">
            <div class="inner-content">
                <h2>Women</h2>
                <a href="/shoes/gender/Women"><button class="shop">Shop now</button></a>
            </div>
        </div>
        <div class="male-sneakers">
            <div class="inner-content1">
                <h2>Men</h2>
                <a href="/shoes/gender/Men"><button class="shop">Shop now</button></a>
            </div>
        </div>
    </div>
    <div class="filter">
        <h4>Filters</h4>
        <div class="filters">
        <form action="/shoes/filter" method="post">
            
                <label for="brand">Brand:</label>
                <select id="brand" class="brand" name="brand">
                    <option value="">Select Brand</option>
                    <option value="All">All</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Nike">Nike</option>
                    <option value="Puma">Puma</option>
                </select>

                <label for="size">Size:</label>
                <select id="size" class="size" name="size">
                    <option value="">Select Size</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

                <label for="color">Color:</label>
                <select id="color" class="color" name="color">
                    <option value="">Select Color</option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Grey">Grey</option>
                    <option value="Brown">Brown</option>
                    <option value="Green">Green</option>
                    <option value="Purple">Purple</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                </select>
            
            <button type="submit">Filter</button>
        </form>
        </div>
    </div>

    <div class="items">
        <span>{{messages.error}}</span>
        {{#each shoes.displayShoes}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}
        {{#each brands.displayShoesByBrand}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}
        {{#each sizes.displayShoesBySize}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}
        {{#each filtered.displayShoesByBrandAndSize}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}" name="{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}
        {{#each color.displayShoesByColor}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}
        {{#each sizeAndBrand.displayShoesByBrandAndSize}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}
        {{#each allFilters.allOptions}}
        <div class="item">
            <a class="view-shoe" href="/shoes/shoe/{{this.shoename}}">
                <img class="lu" src={{this.image_url}}><br>
                <span>{{this.shoename}}</span><br>
                <span>{{this.brand}}</span><br>
                <span>R {{this.price}}</span><br>
                <br>
            </a>
        </div>
        {{/each}}

    </div>
</div>
